body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.container {
    margin: 10px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center; /* Zentriert die Buttons horizontal */
    align-items: center; /* Zentriert die Buttons vertikal, falls nötig */
    flex-wrap: wrap; /* Ermöglicht das Umbrechen der Buttons in die nächste Zeile */
    gap: 5px; /* Optional: Abstand zwischen den Buttons */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #e0e0e0;
}   

.search-btn, .debug-btn, .dropbtn {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.search-btn {
    background-color: #4caf50;
    color: white;
}

.debug-btn {
    background-color: #ff9800;
    color: white;
}

.search-btn:hover {
    background-color: #57de5c;
}

.debug-btn:hover {
    background-color: #ffaf38;
}

.results {
    margin: 10px 0;
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tab {
    display: flex;
    flex-wrap: wrap; /* Zeilenumbruch ermöglichen */
    justify-content: space-between; /* Tabs gleichmäßig verteilen */
    border-bottom: 1px solid #ccc;
    background-color: #2e2e2e;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0; /* Entfernt Standard-Padding */
    margin: 0; /* Entfernt Standard-Margin */
}

.tab button {
    flex: 1 1 auto; /* Tabs flexibel machen */
    padding: 14px 16px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1px; /* Abstand zwischen den Tabs */
}

.tab button:hover {
    background-color: #555;
}

.tab button.active {
    background-color: #4caf50;
}

/* Style für die Tab-Inhalte */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #2e2e2e;
    color: #e0e0e0;
    border-radius: 0 0 10px 10px;
}

/* Dropdown Button */
.dropbtn {
    min-width: 270px;
    background-color: #32a893;
    color: #ffffff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #21c4a7;
}

/* Dropdown Container */
.dropdown-checkbox {
    color: #32a893;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3c3c3c;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    font-weight: normal;
}

/* Show the dropdown menu on hover */
.dropdown-checkbox:hover .dropdown-content {
    color: #e0e0e0;
    display: block;
}

/* Style for checkboxes */
.dropdown-content label {
    color: white;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content label:hover{
    color: #32a893;
}

.dropdown-content label input {
    margin-right: 10px;
}

#statsresults ul {
    list-style-type: none;
}

/* Standardmäßig verstecken wir die Debug-Buttons */
.debug-btn {
    display: none;
}

/* Zeigen Sie die Debug-Buttons auf Geräten mit einer Breite von mindestens 768px an (typische Breite für Tablets im Hochformat) */
@media (min-width: 768px) {
    .debug-btn {
        display: inline-block;
    }
}


/* Styles for colored stats */
.colored-stat {
    color: #1c1c1c;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    list-style-type: none; /* Ensure there are no bullets */
}

/* Specific colors for stats */
#statsresults ul li:nth-child(1) {
    background-color: #ed6880;
}

#statsresults ul li:nth-child(2) {
    background-color: #ffa07a;
}

#statsresults ul li:nth-child(3) {
    background-color: #5dc4c2;
}

#statsresults ul li:nth-child(4) {
    background-color: #99cc66;
}

#statsresults ul li:nth-child(5) {
    background-color: #c793e8;
}

/* Styles for the rules content */
.rules-content {
    height: 100%;
    overflow: visible;
    overflow-y: auto;
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 5px;
    color: #e0e0e0; /* Schriftfarbe */
}

.rules-content h1 {
    color: #ed6880;
    font-size: 24px;
    margin-bottom: 10px;
}

.rules-content h2 {
    color: #ffa07a;
    font-size: 20px; /* Hauptkapitel */
    margin-bottom: 8px;
}

.rules-content h3 {
    color: #5dc4c2;
    font-size: 18px; /* Unterkapitel */
    margin-bottom: 6px;
}

.rules-content h4 {
    color: #99cc66;
    font-size: 16px; /* Text */
    margin-bottom: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    font-size: 16px;
}

/* Textinput-Feld */
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    font-size: 16px;
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
}

input[type="text"]::placeholder {
    color: #a0a0a0; /* Placeholder-Farbe anpassen */
}

/* Suggestions-Dropdown */
.suggestions {
    border: 1px solid #ccc;
    max-height: 500px; /* Festgelegte maximale Höhe */
    width: 90%; /* Gleiche Breite wie das Textinput-Feld */
    overflow-y: auto; /* Ermöglicht Scrollen, wenn die Höhe überschritten wird */
    background-color: #2e2e2e; /* Hintergrundfarbe passend zum Thema */
    position: absolute;
    z-index: 1000;
    border-radius: 5px; /* Abgerundete Ecken */
    display: none; /* Standardmäßig verborgen */
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    color: #e0e0e0; /* Textfarbe passend zum Thema */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
}

.suggestion-item:hover {
    background-color: #3c3c3c; /* Hover-Effekt für die Vorschlags-Items */
}
