/* CSS für die Tabellen- und Navigationselemente */

#roundHeading {
    margin: 0; /* Kein Abstand oben und unten */
    text-align: center;  /* Zentrierung des Textes */
    font-size: 18px;  /* Schriftgröße */
    color: white;  /* Textfarbe */
}

.tables-container {
    margin-left: 0px;
    margin-right: 0px;
}

.tables-container table {
    width: 100%;
    border-collapse: collapse;
}

.tables-container th, .tables-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tables-container th {
    background-color: #363636; /* Gleiche Hintergrundfarbe wie für die Tabellenzeilen */
    color: white; /* Gleiche Textfarbe wie für die Tabellenzeilen */
}

.tables-container td:first-child {
    text-align: center; /* Inhalt der ersten Spalte zentriert */
    width: 30px; /* Breite der ersten Spalte */
}

.tables-container td:last-child {
    text-align: center; /* Inhalt der letzten Spalte zentriert */
    width: 30px; /* Breite der letzten Spalte */
}

.tables-container td {
    width: auto; /* Breite der mittleren Spalte automatisch */
}

.navbuttons-container {
    display: flex;
    justify-content: space-between; /* Gleichmäßig verteilen */
    align-items: center; /* Zentriert vertikal */
    position: relative; /* Notwendig für die Platzierung der Linie */
}

.navbuttons-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Farbe der Linie */
}

.nav-buttons {
    background-color: #363636;
    color: white;
    height: 40px;
    border: none;
    text-align: center;  /* Zentrierung des Textes */
    font-size: 22px;  /* Schriftgröße */
    flex: 1; /* Gleiche Breite */
    cursor: pointer;
    display: flex; /* Flexbox-Layout */
    justify-content: center; /* Zentriere horizontal */
    align-items: center; /* Zentriere vertikal */
}

.nav-buttons:first-child {
    margin-left: 0; /* Kein Abstand auf der linken Seite des ersten Buttons */
}

.nav-buttons:last-child {
    margin-right: 0; /* Kein Abstand auf der rechten Seite des letzten Buttons */
}

.nav-buttons:hover {
    background-color: #555;
}

#roundLabel {
    color: white;
    font-size: 18px;  /* Schriftgröße */
    height: 40px;
    text-align: center; /* Horizontale Zentrierung des Textes */
    display: flex;  /* Flexbox-Layout */
    justify-content: center;  /* Horizontale Zentrierung */
    align-items: center;  /* Vertikale Zentrierung */
    flex: 1; /* Gleiche Breite */
    font-weight: bold;
}

.table-tabs {
    display: flex;
    justify-content: space-between; /* Gleichmäßig verteilen */
}

.tables-tablinks {
    background-color: #363636;
    color: white;
    border: none;
    height: 40px;
    flex: 1; /* Gleiche Breite */
    cursor: pointer;
    transition: background-color 0.3s;
    /* border: 1px solid #ddd;  Rahmen */
}

.tables-tablinks:first-child {
    margin-left: 0; /* Kein Abstand auf der linken Seite des ersten Buttons */
}

.tables-tablinks:last-child {
    margin-right: 0; /* Kein Abstand auf der rechten Seite des letzten Buttons */
}

.tables-tablinks:hover {
    background-color: #555;
    color: white;
}

.arrow-icon {
    height: 30px; /* Die Höhe des Pfeils kann angepasst werden */
    width: 30px; /* Die Breite des Pfeils kann angepasst werden */
    margin: 0; /* Entfernt jeglichen zusätzlichen Abstand */
}

.reset-link-container {
    text-align: center;
    margin-top: 10px; /* Abstand oben */
}

.reset-link {
    color: #ff0000; /* Rote Farbe für den Link */
    text-decoration: underline; /* Unterstrichen */
    cursor: pointer; /* Hand-Cursor */
    font-size: 14px;
    color: white;
}

/* Unterschiedliche Farben für jeden aktiven Player-Tab-Button */
#player1tab.active {
    background-color: #4caf50;
    color: white;
}

#player2tab.active {
    background-color: #25619C;
    color: white;
}

#player3tab.active {
    background-color: #DE6176;
    color: white;
}

#player4tab.active {
    background-color: #7A378B;
    color: white;
}

/* Spezifische Klassen für die Positionen */
.pos-pg {
    background-color: #CD0000;
    font-weight: bold;
    color: white;
}

.pos-sg {
    background-color: #536B6B;
    font-weight: bold;
    color: white;
}

.pos-sf {
    background-color: #CA9E71;
    font-weight: bold;
    color: white;
}

.pos-pf {
    background-color: #765331;
    font-weight: bold;
    color: white;
}

.pos-c {
    background-color: #371E04;
    font-weight: bold;
    color: white;
}

/* Farben für roundLabel je nach aktivem Spieler */
#roundLabel.player1 {
    background-color: #4caf50;
}

#roundLabel.player2 {
    background-color: #25619C;
}

#roundLabel.player3 {
    background-color: #DE6176;
}

#roundLabel.player4 {
    background-color: #7A378B;
}
